<%- include("partials/header.ejs") %>
<section>


    <section  class="flex-container home ">
        <div class="center">
            <div class="home-di2">
                <img class="img1" src="/images/Mlogo.png" alt="mohit.logo.img">
                <h1 class="hq">ohit </h1>
            </div>
            <div class="head-ul">
                    <a data-target="about" title="about" class="head-a" href="#">About</a>
                    <a class="head-a" href="">Contact</a>
                    <a class="head-a" href="">Project</a>
            </div>
        </div>

    </section>

    <section class="flex-container">
        <h1 class="h1a">
            I'm a bespoke web developer looking to facilitate the creation of modern and aesthetically pleasing
            websites.
        </h1>
    </section>

    <section class="parallax">
        <div class="">
            <img src="/images/github.png" class="logo1">
            <a href="https://linkedin.com/in/mohit-nagpure-0b541b252">     
                <img src="/images/linkedin.png" class="logo2"></a>
        </div>
    </section>


    <section class="project">

        <div>
            <h1 class="h1-pro">Some Project.</h1>

            <div class=" flex-c">
                <div class="sq">
                    <p class="pr">Project 1</p>
                </div>
                <div class="sq">
                    <p>Project 2</p>
                </div>
                <div class="sq">
                    <p>Project 3</p>
                </div>
                <div class="sq">
                    <p>Project 4</p>
                </div>
            </div>
        </div>

    </section>

    <section class="about">
        <h1 class="h1-about">About Me.</h1>
        <div class="flex-container about-mar">

            <div>
                <img src="/images/profile.jpg" alt="profile.jpg" class="prof">
            </div>
            <div>
                <p class="about-p">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
        </div>
    </section>


    <section>
        <div class="skill">
            <div>
                <h3 class="san">COMPETENCIES</h3>
                <h4>BACKEND:</h4>
                <p class="san">Java, NodeJS, Express</p>
                <h4>FRONTEND:</h4>
                <p class="san">HTML5, CSS3, JavaScript</p>
                <h4> OTHER:</h4>
                <p class="san">GitHub</p>
            </div>

        </div>
    </section> 

     <section class="contact">
        <h1 class="contact-h1">Contact Me.</h1>
        <div class="sa">
            <div class="s">
                <form class="form">
                    <label class="lb">NAME:</label>
                    <input class="input" type="text" placeholder="Enter your name here">
    
                    <label class="lb">EMAIL:</label>
                    <input class="input" type="email" placeholder="Enter your email here">
    
                    <label class="lb" for="freeform">MESSAGE:</label>
                    <textarea class="input" placeholder="Enter your message here" id="freeform" name="freeform" rows="4"
                        cols="50">
                            </textarea><br>
                    <button type="submit" class="submit">SEND INQUIRY</button>
                </form>
            </div>
    
        </div>

        </div>
    </section>
</section>
    <%- include("partials/footer.ejs") %>